<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MWA</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/flexslider")
    @Scripts.Render("~/bundles/fancybox")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/waypoints")
    @Scripts.Render("~/bundles/site")
    <script async="" src="http://api.twitter.com/1/statuses/user_timeline.json?screen_name=wrapbootstrap&count=10&include_rts=1&page=1&include_entities=1&callback=jQuery191003165703389239616_1440081054993&_=1440081054994"></script>
</head>
<body>
    @{
        var p_portfolio = "~/Views/PortFolio/PortFolio.cshtml";
        var p_services = "~/Views/Services/Services.cshtml";
        var p_about = "~/Views/Home/About.cshtml";
        var p_contact = "~/Views/Home/Contact.cshtml";
    }
    @RenderBody()
    @{Html.RenderPartial("NavigationBar");}
    @RenderPage(@p_portfolio)
    @RenderPage(@p_services)
    @RenderPage(@p_about)
    @RenderPage(@p_contact)
    @{Html.RenderPartial("Twitter");}
    @{Html.RenderPartial("Footer");}
    @RenderSection("scripts", required: false)
</body>
</html>
